<nav class="navbar navbar-fixed-top navbar-light bg-faded whiteframe">
	<span class="navbar-brand">
		<img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
		Suivez Bouddha!
	</span>
</nav>
<div class="home-content row">
	<md-tab-group>
		<md-tab [label]="firstFloorName">
			<app-first-floor class="floor" [floor]="floors[0]"></app-first-floor>
		</md-tab>

		<md-tab [label]="secondFloorName">
			<app-second-floor class="floor" [floor]="floors[1]"></app-second-floor>
		</md-tab>
	</md-tab-group>
</div>